<div>
  <div class="vertical" *ngIf="tableData && tableData.length">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="table-id">#</th>
        <th>Index Name</th>
        <th>Unique</th>
        <th>Partial</th>
        <th>Columns</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tableData; let i = index;">
        <td class="table-id">{{ i + 1 }}</td>
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.unique }}
        </td>
        <td>
          {{ item.partial }}
        </td>
        <td>
          <ul>
            <li *ngFor="let column of item.columns;">{{column.name}}</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" *ngIf="!tableData || !tableData.length">
    <h4>NO INDEXES</h4>
  </div>
</div>
