<div class="vertical">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Name</th>
      <th>Table Name</th>
      <th>SQL</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tableData; let i = index;">
      <td class="table-id">{{ i + 1 }}</td>
      <td>
        <a 
          class="email-link" 
          title="Change" 
          [routerLink]="['/pages/views/changeview', item.name]">
            {{ item.name }}
          </a>
      </td>
      <td>
        <a 
          class="email-link" 
          title="Change" 
          [routerLink]="['/pages/tables/changetable', item.table_name]">
          {{ item.table_name }}
        </a>
      </td>
      <td>
        <a 
          class="email-link" 
          title="Change" 
          [routerLink]="['/pages/views/changeview', item.name]">
          <p>{{ item.sql }}</p>
        </a>
      </td>
      <td>
        <i 
          class="ion-trash-a delete"
          (click)="delete(item)" 
          title="Delete view">
        </i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
