<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/tables/alltables" class="al-logo clearfix"><span>SQLite</span> Editor</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <!--<div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>-->
  <div class="db-container pull-right">
    <div class="database-info clearfix">
      <a routerLink="/database" title="Change current database">
        <span class="label-db">
          <i class="fa fa-database"></i>
          Current DB:
        </span>
      </a>
      <span class="db-name">{{db.currentDataBase}}</span>
    </div>
  </div>
</div>
