<div class="widgets">

  <div class="row">
    <ba-card title="Tables of db_test" baCardClass="with-scroll" class="smart-table-container">
      <general-table 
        [tableData]='allTableData'
        (deleteTable)='deleteTable($event)'></general-table>
      <sy-status 
        [status]="result.status"
        [message]="result.message"
        [violations]="result.violations"
        (clearMessage)="clearResult()">
      </sy-status>
      <a 
        class="btn btn-success btn-with-icon add-btn" 
        title="Create a New Table"
        [routerLink]="['/pages/tables/addtable']">
        <i class="ion-plus-round"></i>
        Add Table
      </a>
    </ba-card>
  </div>
</div>
