<div class="widgets">
  <div class="row">
    <ba-card title="Table {{tabName}} in {{db.currentDataBase}}" baCardClass="with-scroll" class="smart-table-container">
      <div class="text-center">
        <div class="btn-group menu-change" role="group">
          <a class="btn btn-custom" 
            [routerLink]="['structure']" 
            routerLinkActive="link-active">
            <i class="ion-ios-pie"></i> Structure
          </a>
          <a class="btn btn-custom" 
            [routerLink]="['edit']" 
            routerLinkActive="link-active">
            Edit data
          </a>
          <a class="btn btn-custom" 
            [routerLink]="['indexes']" 
            routerLinkActive="link-active">
            Indexes
          </a>
          <a class="btn btn-custom" 
            [routerLink]="['views']" 
            routerLinkActive="link-active">
            Views
          </a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </ba-card>
  </div>
</div>
