<div class="widgets">

  <div class="row">
    <ba-card title="Create new view in {{db.currentDataBase}}" baCardClass="with-scroll" class="smart-table-container">
      <div class="form-group">
        <label for="input01">View name</label>
        <input 
          class="form-control" 
          id="input01" 
          placeholder="Example: PremiumOrders" 
          type="text"
          #inputNameElement
          [(ngModel)]="allViewData.name">
      </div>
      <div class="form-group">
          <label for="textarea01">SQL</label>
          <textarea 
            class="form-control" 
            id="textarea01"
            [(ngModel)]="allViewData.sql"
            placeholder="CREATE VIEW '{{allViewData.name}}' AS ...">
      </textarea>
      </div>
      <sy-status 
        [status]="result.status"
        [message]="result.message"
        [violations]="result.violations"
        (clearMessage)="clearResult()">
      </sy-status>
      <button 
        class="btn btn-success btn-with-icon submit-btn btn pull-right" 
        type="button"
        (click)="onSubmit()"
        title="Submit new view">
        <i class="ion-android-checkmark-circle"></i>Submit
      </button>
    </ba-card>
  </div>
</div>
